body{
    margin: 0;
    padding: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: #181818
}

.logo{
    width: 50px;
}

nav{
    padding: 10px;
    border-bottom:solid white 2px ;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: large;
}

.empresa{
    display: flex;
    align-items: center;
}

.perfil{
    display: flex;
    align-items: center;
}

.iconperfil{
    width: 35px;
}


