body{
    margin: 0;
    padding: 0vw;
    width: 100vw;
    background-color: #181818
}

.logo{
    width: 50px;
}

nav{
    border-bottom:solid white 2px ;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    font-size: large;
}

.empresa{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
}

