body{
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: "Roboto", Helvetica, sans-serif;
}

.logo{
    width: 90px;
}

header{
    padding: 10px;
    border-bottom:solid white 2px ;
    display: grid;
    grid-template-columns: 1fr  ;
    color: aliceblue;
    font-size: large;
}

.empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.img {
    height: 35rem;
    max-width: 45rem;
    display: block;
    place-self: center;
}


h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}



main{
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.bloco{
    width: 40px;
    height: 20px;
    border: solid #2D1EA9 2px;
    background-color: #2D1EA9;
    border-radius: 5px;
}

.titulo{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quemSomos{
    width: 15.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visão{
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.valores{
    width: 10.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

@media(max-width: 1500px){
    main{
        height: 90%;
    }
}

@media(max-width: 700px){
    .quemSomos{
        width: 14rem;
    }
}
