body{
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: "Roboto", Helvetica, sans-serif;
}

.logo{
    width: 90px;
}

header{
    padding: 10px;
    border-bottom:solid white 2px ;
    display: grid;
    grid-template-columns: 1fr ;
    color: aliceblue;
    font-size: large;
    justify-items: center;
    justify-content: center;
}

.empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.img {
    height: 35rem;
    max-width: 45rem;
    display: block;
    place-self: center;
}


h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}



.imglogin{
    width: 4rem;
    height: 100%;
}

.card{
    width: 100vw;
    height: 85vh;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
}


.login {
    height: 60%;
    place-self: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.login div:not(:last-child) span {
    overflow: hidden;
    border-radius: 10px;
}

.dados{
    display: flex;
    align-items: center;
    
}

.inputLogin{
    width: 15.5rem;
    height: 2.5rem;
    background-color: #303030;
    opacity: 80%;
    border: 0px;
    color: white;
}

input {
    all: unset;
    padding: 0.2rem 1rem;
    height: 100%;
}

input:hover, input:focus {
    background-color: #333333;

}

label{
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: larger;
    font-weight: 500;
}

button{
    place-self: center;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #2D1EA9;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

button:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    background-color: #3a2daf;
}

a {
    all: unset;
    color: aliceblue;
    opacity: 60%;
    cursor: pointer;
    border-bottom: 2px solid #8F8F8F;
}

@media(max-width:1500px){
    .img{
        width: 500px;
        height: 400px;
        
    }
}

@media (max-width: 900px) {
    .img {
        display: none;
    }
    .card{
        display: flex;
        justify-content: center;
    }
}